.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

body {
  background-color: #fafafa;
}

.App-header {
  background-color: #fafafa;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 49, 141);
}
h2 {
  margin: 2rem 1rem;
}
.App-link {
  color: #61dafb;
}
.font-size_sm{
  font-size: 1.5rem;
}
.font-size_med {
  font-size: 2.5rem;
}
.game-mode-container {
  display: flex;
  flex-direction: column;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 0.2rem;
  height: 8rem;
  width: 22rem;
  text-align: center;
}
.flex-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0rem 1rem 1rem;
}
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 1rem;
}

.grid-item {
  border: 1px solid rgb(33, 49, 141);
  padding: 2rem 2.5rem;
  font-size: 2.5rem;
  text-align: center;
  width:12.5rem;
  height:12.5rem;
}

button{

}

button:hover {
  background-color: #61dafb;
}

.alert-msg {
  color: #fafafa;
  border-radius: 0.3rem;
  margin: 1rem;
}
.red-bkgd {
  background-color: #d22b2b;
}
.blue-bkgd {
  background-color: rgb(33, 49, 141);
}
.padding-sm {
  padding: 1rem 1rem;
}
.game_mode_choice {
  background-color: #61dafb;
}
.instruction-container {
  width: 34em;
  line-height: 1.5rem;
  font-size: 1.2rem;
  text-align: left;
}
.instruction-container p {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}
.margin_sm {
  margin: 1rem;
}
.blue-font{
  color:#61dafb;
}
.red-font{
    color:#d22b2b;
}