.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

body {
  background-color: #fafafa;
}

.App-header {
  background-color: #fafafa;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  gap:0.5rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 49, 141);
}
h2{
  margin: 0.3rem;
}

.App-link {
  color: #61dafb;
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.start-btn{
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  font-weight: bold;
}
.game-mode-form{
  display: flex;
  gap: 2rem;
}
.board-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display:grid;
  grid-template-columns: auto auto auto;
}

.grid-item{
  border:1px solid rgb(33, 49, 141);
  padding: 2rem 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}

button:hover {
  background-color: #61dafb;
}